<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ohmage-omh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script th:src="@{/libs/prologue/assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/libs/prologue/assets/css/main.css}"
            href="../static/libs/prologue/assets/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/prologue-lib-mods.css}"
            href="../static/css/prologue-lib-mods.css"/>
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/libs/prologue/assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{/libs/prologue/assets/css/ie9.css}" /><![endif]-->

</head>
<body>
<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <h1 id="title">User Home</h1>
            <p th:text="${user.username}"></p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

            -->
            <ul>
                <li><a href="#apps" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Apps &amp; Devices</span></a></li>
                <li><a href="#studies" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-users">Studies</span></a></li>
                <li><a href="#tools" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-bar-chart">Viz Tools</span></a></li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="https://ohmage-omh.smalldata.io" class="icon fa-info-circle"><span class="label">Info</span></a></li>
        </ul>

    </div>

</div>
<!-- Main -->
<div id="main">

    <section id="top" class="banner">
        <div class="pull-left" style="margin-top: -15px;">
            <a class="brand" href="http://smalldata.io/" style="padding-right: 5px; font-family: 'Lato', sans-serif; color: #34495e; font-weight: 800; letter-spacing: -1px;
    font-size: 18px;">
                the small data lab </a>
            <a class="brand" style="font-weight: 400; color: white;" href="http://tech.cornell.edu/">@ CornellTech</a>
        </div>
        <div class="pull-right" style="margin-top: -15px; color: white;">
            <a class="small" th:href="@{/signout}">Logout</a>
        </div>
    </section>

    <!-- Apps & Devices -->
    <section id="apps" class="two">
        <div class="container">

            <header>
                <h2>Apps &amp; Devices</h2>
            </header>

            <p>Below is the list of mobile apps and devices that you can use with the Ohmage-omh platform.</p>

            <div class="row instruments">
                <div class="4u 12u$(mobile)">
                    <article class="item">
                        <a class="image fit">
                            <img class="left" th:src="@{/images/ohmage.png}" />
                        </a>
                        <header>
                            <h3>Ohmage-omh App</h3>
                            <span class="store-links">
                                <a class="store_link android_link" target="_blank" href="https://play.google.com/store/apps/details?id=io.smalldatalab.android.ohmage">
                                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                                </a>
                                <a class="store_link play" target="_blank" href="https://appsto.re/us/Dpvn5.i">
                                    <img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" height='43'/>
                                </a>
                            </span>
                        </header>
                    </article>
                </div>
                <div class="4u 12u$(mobile)">
                    <article class="item">
                        <a class="image fit">
                            <img th:src="@{/images/mobility.png}" alt="" />
                        </a>
                        <header>
                            <h3>Mobility-omh App</h3>
                            <span class="store-links">
                                <a class="store_link android_link" target="_blank" href="https://play.google.com/store/apps/details?id=io.smalldatalab.android.mobility">
                                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                                </a>
                                <a class="store_link play" target="_blank" href="https://appsto.re/us/Dcft5.i">
                                    <img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" height='43'/>
                                </a>
                            </span>
                        </header>
                    </article>
                </div>
                <div class="4u$ 12u$(mobile)">
                    <article class="item">
                        <a class="image fit">
                            <img th:src="@{/images/pam.jpg}" src="../static/images/pam.jpg" alt="" />
                        </a>
                        <header>
                            <h3>PAM-omh App</h3>
                            <span class="store-links">
                                <a class="store_link android_link" target="_blank" href="https://play.google.com/store/apps/details?id=io.smalldatalab.android.pam">
                                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                                </a>
                                <a class="store_link play" target="_blank" href="https://appsto.re/us/pQun5.i">
                                    <img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" height='43'/>
                                </a>
                            </span>
                        </header>
                    </article>
                </div>
            </div>

        </div>
    </section>

    <!-- Studies -->
    <section id="studies" class="three">
        <div class="container">

            <header>
                <h2>Studies</h2>
            </header>

            <p>You have enrolled as a participant in the following studies:</p>
            <table>
                <tr data-th-each="study : ${studies}">
                    <td><h3 data-th-text="${study.name}" style="color: #138871;"></h3></td>
                </tr>
            </table>
        </div>
    </section>

    <!-- Viz Tools -->
    <section id="tools" class="two">
        <div class="container">

            <header>
                <h2>Viz Tools</h2>
            </header>

            <p>These are the visualization tools that you have access to.  Click on a tool to open it.</p>

            <div class="row instruments">
                <div class="6u 12u$(mobile)">
                    <article class="item">
                        <a href="/mobility-ui/#" class="image fit"><img th:src="@{/images/mobility-ui.png}"
                                                           src="../static/images/mobility-ui.png" alt="" /></a>
                        <header>
                            <h3>Mobility Dashboard</h3>
                        </header>
                    </article>
                </div>
            </div>

        </div>
    </section>

</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; SmallDataLab @ Cornell Tech, 2015.</li>
    </ul>
</div>

<!-- Scripts -->
<script th:src="@{/libs/prologue/assets/js/jquery.min.js}"></script>
<script th:src="@{/libs/prologue/assets/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/libs/prologue/assets/js/jquery.scrollzer.min.js}"></script>
<script th:src="@{/libs/prologue/assets/js/skel.min.js}"></script>
<script th:src="@{/libs/prologue/assets/js/util.js}"></script>
<!--[if lte IE 8]><script th:src="@{/libs/prologue/assets/js/ie/respond.min.js}></script><![endif]-->
<script th:src="@{/libs/prologue/assets/js/main.js}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-url/1.8.4/url.js"></script>
</body>
</html>