<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="logo-lg img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome to Ohmage-omh!</h1>
            <p class="lead">This is the Study Manager Portal.</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Go ahead and <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <div ng-show="vm.isAuthenticated()" has-authority="ROLE_USER">
                <p>You have access to following studies:</p>
                <ul ng-repeat="study in vm.studies">
                    <li><a ui-sref="dashboard({study: study.id})">{{study.name}}</a></li>
                </ul>
                <br/>
            </div>

            <p>
                If you have any question on Ohmage-omh, you can visit the links below.
            </p>

            <ul>
                <li><a href="http://smalldata.io/" target="_blank">Small Data Lab</a></li>
                <li><a href="https://github.com/smalldatalab/omh-dsu" target="_blank">Ohmage-omh source code on Github</a></li>
            </ul>
        </div>
    </div>
</div>
