
<div>
    <h2><span>Study</span> {{vm.study.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.study.name}}</span>
        </dd>
        <hr>
        <dt><span>Remove Gps</span></dt>
        <dd>
            <span>{{vm.study.removeGps}}</span>
        </dd>
        <hr>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{vm.study.startDate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{vm.study.endDate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span>Manager</span></dt>
        <dd>
            <span ng-repeat="manager in vm.study.managers">
                {{manager.id}}{{$last ? '' : ', '}}
            </span>
        </dd>
        <hr>
        <dt><span>Survey</span></dt>
        <dd>
            <span ng-repeat="survey in vm.study.surveys">
                <a ui-sref="survey-detail({id: {{survey.id}}})">{{survey.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <hr>
        <dt><span>Integration</span></dt>
        <dd>
            <span ng-repeat="integration in vm.study.integrations">
                <a ui-sref="integration-detail({id: {{integration.id}}})">{{integration.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
