
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudyLabel">Create or edit a Study</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.study.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.study.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.study.name"
                    required ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_removeGps">Remove Gps</label>
            <input type="checkbox" class="form-control" name="removeGps" id="field_removeGps"
                    ng-model="vm.study.removeGps"
                     />
            <div ng-show="editForm.removeGps.$invalid">
                <p class="help-block"
                    ng-show="editForm.removeGps.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_manager">Manager</label>
            <select class="form-control" id="field_manager" multiple name="manager" ng-model="vm.study.managers" ng-options="user as user.id for user in vm.users track by user.id"></select>
        </div>
        <div class="form-group">
            <label for="field_survey">Survey</label>
            <select class="form-control" id="field_survey" multiple name="survey" ng-model="vm.study.surveys" ng-options="survey as survey.id for survey in vm.surveys track by survey.id"></select>
        </div>
        <div class="form-group">
            <label for="field_integration">Integration</label>
            <select class="form-control" id="field_integration" multiple name="integration" ng-model="vm.study.integrations" ng-options="integration as integration.id for integration in vm.integrations track by integration.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
