<h1>{{vm.study.name}}</h1>
<div class="row">
    <div class="col-md-8">
        <h4>Participants</h4>
        <ul ng-repeat="pt in vm.participants">
            <li>{{pt.id}}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><a ui-sref="data({study: vm.study.id})">Browse Study Data</a></h4>
        <br/>
        <h4>Apps and Data Types</h4>
        <ul ng-repeat="integration in vm.study.integrations">
            <li>{{integration.name}}</li>
            <ul ng-repeat="type in integration.dataTypes">
                <li>{{type.name}}</li>
            </ul>
        </ul>



    </div>
</div>
