<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head><body>
<header th:replace="fragments/layout :: header"></header>

<section class="header-11-sub bg-clouds">
    <div class="background">
    </div>
    <form action="" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Sign In
                    </h2>
                    <a th:href="@{/auth/google}">
                        <img th:src="@{/images/signin-with-google.png}" alt="Sign in with Google"/>
                    </a>
                </div>
                <div class="col-sm-3 col-sm-offset-1 player-wrapper">
                </div>
            </div>
        </div>
    </form>
</section>
</body>

</html>