<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/flat-ui.css}"/>

    <link href="http://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet"
          type="text/css"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery.min.js}">
    </script>
    <script th:src="@{/js/bootstrap.min.js}">
    </script>
    <script th:src="@{/js/url.min.js}">
    </script>
</head>

<body>
<header class="header-11">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div style="font-family: 'Lato', sans-serif;">
                    <a class="brand" href="http://smalldata.io/" style="padding-right: 15px;">
                        <!--<img th:src="@{/images/sdl_logo.png}" width="50" height="50" alt=""/>-->
                        the small data lab </a>
                    <a class="brand" style="font-weight: 400; color: #777;" href="http://tech.cornell.edu/">@ CornellTech</a>
                </div>

                <div class="pull-right" style="padding-top: 15px"
                     th:if="${not #strings.endsWith(#httpServletRequest.requestURI,'signin')}">
                    <a class="small" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-11-sub bg-clouds">
    <div class="background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 th:text="'Connect ' + ${appName}">
                    Connect
                </h2>
                <h3 th:text="'to allow us to pull out your ' + ${appName} + ' data for you.'">

                </h3>
                <a  th:href="${url}" class="btn btn-primary btn-lg">Connect Now!</a>
            </div>
            <div class="col-sm-3 col-sm-offset-1 player-wrapper">
            </div>
        </div>
    </div>
</section>
</body>

</html>