
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDataTypeLabel">Create or edit a Data Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dataType.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dataType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.dataType.name"
                    required ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.dataType.description"
                    ng-maxlength="255" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schemaNamespace">Schema Namespace</label>
            <input type="text" class="form-control" name="schemaNamespace" id="field_schemaNamespace"
                    ng-model="vm.dataType.schemaNamespace"
                    ng-maxlength="255" />
            <div ng-show="editForm.schemaNamespace.$invalid">
                <p class="help-block"
                    ng-show="editForm.schemaNamespace.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schemaName">Schema Name</label>
            <input type="text" class="form-control" name="schemaName" id="field_schemaName"
                    ng-model="vm.dataType.schemaName"
                    ng-maxlength="255" />
            <div ng-show="editForm.schemaName.$invalid">
                <p class="help-block"
                    ng-show="editForm.schemaName.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_schemaVersion">Schema Version <small>(Must be of format [major].[minor], such as 2.0)</small></label>
            <input type="text" class="form-control" name="schemaVersion" id="field_schemaVersion"
                    ng-model="vm.dataType.schemaVersion"
                    ng-maxlength="255" />
            <div ng-show="editForm.schemaVersion.$invalid">
                <p class="help-block"
                    ng-show="editForm.schemaVersion.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateField">Date Field</label>
            <input type="text" class="form-control" name="dateField" id="field_dateField"
                   ng-model="vm.dataType.dateField"
                   ng-maxlength="255" />
            <div ng-show="editForm.dateField.$invalid">
                <p class="help-block"
                   ng-show="editForm.dateField.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_csvMapper">Csv Mapper</label>
            <p>The mapping is done via AngularJS's ui-grid plugin, and this field must be a valid JSON array of JSON objects that define the CSV columns. An example is provided at the bottom of this page. For information on the object parameters, view the <a target="_blank" href="https://github.com/angular-ui/ui-grid/wiki/Defining-columns">documentation here</a>.</p>
            <p>To add a column that provides links to the media files attached to a data point, copy and paste the JSON object from the bottom of this page, as one of the fields.</p>
            <textarea type="text" rows="20" class="form-control" name="csvMapper" id="field_csvMapper"
                    ng-model="vm.dataType.csvMapper"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>

<div style="padding: 15px;">
    <pre><code ng-non-bindable>
        <strong>Sample Csv Mapper</strong><br/>
        [ {"field": "header.participant_id", "displayName": "Participant ID"}, {"field": "header.participant_label", "displayName": "Participant Label"}, {"field": "body.creation_date_time", "displayName": "Date", "cellFilter": "date:'yyyy-MM-dd'"}]
    </code></pre>

    <pre><code ng-non-bindable>
        <strong>Sample field for links to media files in data point:</strong><br/>
        {"field": "header.media", "displayName": "Media", "cellTemplate": "&lt;div class=\"ui-grid-cell-contents\"&gt;&lt;span ng-repeat=\"media in grid.getCellValue(row, col)\"&gt;| File {{$index + 1}}:  &lt;a class=\"glyphicon glyphicon-eye-open\" title=\"View in new tab\" href=\"/manage/api/dataPoints/{{media.data_point_id}}/media/{{media.media_id}}/\" target=\"_blank\"&gt; &lt;/a&gt; or &lt;a class=\"glyphicon glyphicon-download\" title=\"Download file\" href=\"/manage/api/dataPoints/{{media.data_point_id}}/media/{{media.media_id}}/?download=true\" target=\"_blank\"&gt; &lt;/a&gt; &lt;/span&gt;&lt;/div&gt;"}
    </code></pre>
</div>


